.admin_container_wrapper {
    width: 100%;
    display: flex;
    min-height: 100vh;
    .lnb_wrap {
        width: 24rem;
        background: $color-s1-dark;
        header {
            width: 100%;
            padding: $space-xl $space-xl $space-lg;
            border-bottom: 1px solid $border-base-dark;

            h1 {
                font-size: 2.2627rem;
                color: #fff;
                font-weight: 400;
                height: 3.2rem;
                line-height: 3.2rem;
                padding-left: 3.6rem;
                margin-bottom: $space-lg;
                background: url(../images/logo_circle.svg) no-repeat left center;
            }
            .my_info {
                display: flex;
                gap: $space-s;
            }
        }
        nav {
            padding: $space-m $space-xl;
            .depth_1 {
                & > li {
                    padding: $space-s 0;
                    p {
                        color: $color-primary;
                        font-weight: 600;
                        height: 4rem;
                        line-height: 4rem;
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        &::after {
                            content: "";
                            display: block;
                            flex: 1;
                            height: 1px;
                            border-top: 1px dashed $border-base-dark;
                        }
                    }
                }
            }
            .depth_2 {
                li {
                    margin-top: 0.8rem;
                    a {
                        color: #fff;
                        font-weight: 600;
                        height: 3.7rem;
                        line-height: 3.7rem;
                        display: block;
                        padding: 0 $space-lg;
                        border-radius: 1.6rem;
                        &:hover {
                            background: $color-s1;
                        }
                    }
                    &.on {
                        a {
                            background: $color-primary;
                        }
                    }
                }
            }
        }
    }
    .admin_container {
        background: #fff;
        flex: 1;
        display: flex;
        flex-direction: column;
        .title {
            padding: $space-xl;
            h2 {
                font-size: 4rem;
                line-height: 5.6rem;
            }
            .desc {
                margin-top: $space-m;
                font-size: 2rem;
                color: $text-body-sub;
                line-height: 2.6rem;
            }
        }

        main {
            padding: 0 $space-xl $space-xxl;
            flex: 1;
        }
        footer {
            width: 100%;
            height: 8rem;
            line-height: 8rem;
            padding: 0 $space-xl;
            background: $color-g1;
            .footer_copy {
                font-size: 1.4rem;
                color: $text-body-sub;
            }
        }
        .content_box {
            @include box-shadow-sm;
            border: 1px solid $border-base-light;
            border-radius: 4rem;
            padding: 4rem;
            margin-bottom: 4rem;
            h3 {
                color: $color-primary;
                font-size: 2rem;
                line-height: 2.6rem;
                display: flex;
                align-items: center;
                gap: 1rem;
                padding-bottom: 1.2rem;
                &::after {
                    content: "";
                    display: inline-block;
                    flex: 1;
                    height: 1px;
                    border-top: 1px dashed $border-base-light;
                }
            }
            .content_list {
                margin-top: $space-lg;
                padding-left: 13.2rem;
                position: relative;
                h4 {
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    width: 12rem;
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 3.6rem;
                }
                .detail {
                    font-weight: 500;
                    line-height: 3.6rem;
                    .biz_num {
                        display: flex;
                        gap: 2rem;
                        li {
                            position: relative;
                            &::before {
                                content: "";
                                width: 1px;
                                height: 1rem;
                                background: $border-base;
                                position: absolute;
                                top: 1.2rem;
                                right: -1rem;
                            }
                            &:last-child::before {
                                display: none;
                            }
                            a {
                                color: $color-primary;
                                text-decoration: underline;
                                text-underline-position: under;
                            }
                        }
                    }
                    .label_float {
                        width: 16rem;
                    }
                    .select_btn_group {
                        width: 89rem;
                        .btn {
                            width: 12.7rem;
                        }
                    }
                }
            }
        }
    }
}
.address_wrap {
    width: 89rem;
    .address_1 {
        display: flex;
        gap: 8px;
        align-items: center;
        margin-bottom: 1.6rem;
        input {
            flex: 1;
            &:first-child {
                width: 16rem;
                flex: initial;
            }
        }
        button {
            width: 12.7rem;
            height: 3.6rem;
        }
    }
    .address_2 {
        input {
            width: 100%;
        }
    }
}
.search_box_wrap {
    display: flex;
    border: 1px solid $border-base-light;
    margin-bottom: $space-xl;
    h3 {
        width: 9.6rem;
    }
    .search_box {
        flex: 1;
        .row {
            height: 8rem;
            display: flex;
            align-items: center;
            gap: $space-s;
            padding: 0 $space-xl;
        }
        .col_2 {
            display: flex;
            & > div:first-child {
                border-right: 1px solid $border-base-light;
            }
            .col_2_1 {
                flex: 1;
                input {
                    flex: 1;
                }
            }
        }
        & > div {
            border-bottom: 1px solid $border-base-light;
            &:last-child {
                border-bottom: none;
            }
        }

        .date_wrap {
            flex: 1;
            input[type="text"] {
                width: 100%;
            }
        }
    }
    .search_btn {
        width: 28rem;
        padding: 8.4rem $space-lg $space-lg;
        border-left: 1px solid $border-base-light;
    }
}
